footer {
  border-top: 1px solid var(--color-primary);
  margin-top: 8rem;
  text-align: center;
  padding: 2rem;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.footer-logo {
  width: max-content;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  display: block;
}

.permalinks {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-bottom: 2rem;
}

.footer-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.footer-socials a {
  padding: 1rem;
  color: var(--color-white);
  background-color: var(--color-bg-variant);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid transparent;
}

.footer-socials a:hover,
.footer-socials a:focus {
  background-color: transparent;
  border-color: var(--color-primary);
}

.footer-icon {
  font-size: 1.5rem;
}

@media (min-width: 600px) {
  .permalinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: 2rem;
  }
}

/* Desktop */
@media (min-width: 1024px) {

}
